.appointmentCont {
  padding: 40px 50px;
  min-height: 100vh;
}

.appointmentCont h1 {
  font-family: Outfit;
  font-size: 22px;
  font-weight: 500;
  color: #323232;
}

.appointmentDetails {
  width: 95%;
  border-radius: 5px;
  border: 1px solid #d8d8d8;
  background: #ffffff;
  margin-top: 10px;
  overflow-x: auto;
}

.appointmentDetails table {
  width: 100%;
  border-collapse: collapse;
}

.appointmentDetails th,
.appointmentDetails td {
  padding: 12px;
  text-align: left;
  font-family: Outfit;
  font-size: 18px;
  color: #323232;
  border-bottom: 1px solid #d8d8d8;
  border-right: 1px solid #d8d8d8;
}

.appointmentDetails th {
  font-weight: 500;
}

.appointmentDetails td {
  font-weight: 400;
  color: #696b80;
  font-size: 16px;
}

.patientProfile, .doctorProfile {
  display: flex;
  align-items: center;
  gap: 8px;
}

.patientProfile img,
.doctorProfile img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
  background: #eaefff;
  transition: all 0.2s ease;
}

.doctorProfile p:hover{
 color: blue;
 text-decoration: underline;
}

.cancelIcon {
  cursor: pointer;
  width: 40px;
  height: 40px;
  object-fit: cover;
}

.appointmentDetails th:last-child,
.appointmentDetails td:last-child {
  border-right: none;
}


  