.appointmentCont {
  padding: 40px 50px;
  min-height: 100vh;
}
.appointmentCont h1 {
  font-family: Outfit;
  font-size: 22px;
  font-weight: 500;
  line-height: 27.72px;
  text-align: left;
  color: #323232;
}
.appointmentCont .appointmentDetails {
  height: auto;
  width: 80%;
  border-radius: 5px;
  border: 1px solid #d8d8d8;
  background: #ffffff;
  margin-top: 10px;
}

.appointmentDetails .appointmentTitles {
  display: grid;
  grid-template-columns: 0.2fr 1.2fr 0.5fr 1.2fr 0.5fr;
  align-items: center;
  padding: 10px 20px;
  border-bottom: 1px solid #d8d8d8;
  font-family: Outfit;
  font-size: 18px;
  font-weight: 500;
  line-height: 22.68px;
  color: #323232;
}

.appointmentDetails .appointmentContent {
  display: grid;
  grid-template-columns: 0.2fr 1.2fr 0.5fr 1.2fr 0.5fr;
  align-items: center;
  padding: 10px 20px;
  border-bottom: 1px solid #d8d8d8;
  font-family: Outfit;
  font-size: 18px;
  font-weight: 400;
  line-height: 22.68px;
  color: #696b80;
}
.appointmentContent .patientProfile,
.doctorProfile {
  display: flex;
  align-items: center;
  gap: 3px;
}
.appointmentContent img {
  width: 52px;
  height: 52px;
  border-radius: 50%;
  object-fit: cover;
}
.canelIcon {
  cursor: pointer;
}
