.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 30px;
  background-color: #fff;
  border-bottom: 1px solid #adadad;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.navbar .logo img {
  width: 217px;
  height: 46px;
  cursor: pointer;
}

.navbar .menu {
  list-style: none;
  display: flex;
  gap: 20px;
}

.navbar .menu li {
  list-style: none;
  color: #333;
  cursor: pointer;
  position: relative;
  padding-bottom:4px ;
}
.menu li.selected::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%) scaleX(0);
  width: 60%; /* Small fixed width for smoother transition */
  height: 2px;
  background-color: #007bff;
  opacity: 0;
  transition: transform 0.4s ease, opacity 0.2s ease; /* Smooth transition for both scale and opacity */
}

.menu li:hover::after,
.menu li.selected::after {
  transform: translateX(-50%) scaleX(1); /* Scale smoothly without width change */
  opacity: 1; /* Fade in the line */
}
.imgCont{
  position: relative;
}
.imgCont .img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #556bf8;
  object-fit: cover;
  cursor: pointer;
}

.dropdownCont {
  display: none;
  position: absolute;
  top: 50px;
  right: 0;
  width: 180px;
  height: auto;
  border-radius: 4px;
  background: #f8f8f8;
}
.imgCont:hover .dropdownCont {
  display: block;
}
.dropdownCont ul {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 10px;
}
.dropdownCont ul li {
  cursor: pointer;
  list-style: none;
  color: #333;
}
.dropdownCont ul li:hover {
  color: #556bf8;
}


.btn-create-account {
  font-family: "Outfit";
  background-color: #556bf8;
  color: #fff;
  border: none;
  width: 150px;
  height: 45px;
  border-radius: 47px;
  cursor: pointer;
}
