.profileContainer {
  background: #eaefff;
  min-height: 100vh;
  padding: 40px;
}
.profileContainer h1 {
  font-family: Outfit;
  font-size: 30px;
  font-weight: 400;
  line-height: 37.8px;
  text-align: left;
  color: #4b5563;
}
.profileContainer h1 span {
  font-family: Outfit;
  font-size: 30px;
  font-weight: 600;
  line-height: 37.8px;
  color: #171717;
}
.profileContainer .subCont {
  width: 900px;
  height: auto;
  border-radius: 5px;
  border: 1px solid #d8d8d8;
  background: #ffffff;
  margin-top: 10px;
  padding: 10px 20px;
}
.subCont .profilePhoto {
  display: flex;
  align-items: center;
  gap: 10px;
}
.profilePhoto p {
  font-family: Outfit;
  font-size: 20px;
  font-weight: 500;
  line-height: 25.2px;
  text-align: left;
  color: #7b7b7b;
}

.doctorsDetail {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}
.doctorsDetail div {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.doctorsDetail label {
  font-family: Outfit;
  font-size: 18px;
  font-weight: 400;
  line-height: 22.68px;
  text-align: left;
  color: #5d607d;
}
.doctorsDetail input {
  width: 400px;
  height: 46px;
  border-radius: 5px;
  border: 1px solid #c1c1c1;
  font-family: Outfit;
  font-size: 18px;
  font-weight: 400;
  line-height: 22.68px;
  text-align: left;
  padding-left: 5px;
  outline: none;
}
.doctorsDetail input::placeholder {
  color: #a2a2a2;
}
.doctorsDetail select {
  width: 400px;
  height: 46px;
  border-radius: 5px;
  border: 1px solid #c1c1c1;
  padding-left: 5px;
  font-family: Outfit;
  font-size: 18px;
  font-weight: 400;
  line-height: 22.68px;
  text-align: left;
  outline: none;
}
.doctorsDetail textarea {
  width: 820px;
  padding-left: 5px;
  height: 150px;
  border-radius: 5px;
  border: 1px solid #c1c1c1;
}
.doctorsDetail textarea::placeholder {
  font-family: Outfit;
  font-size: 18px;
  font-weight: 400;
  line-height: 22.68px;
  text-align: left;
  padding: 5px;
  outline: none;
  color: #a2a2a2;
}

.btn {
  width: 195px;
  height: 54px;
  border-radius: 47px;
  background: #5f6fff;
  border: none;
  color: #ffffff;
  cursor: pointer;
  margin: 10px 0;
}
